@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

}

body{
    display: flex;
    justify-content: center;
    /*align-items: center; */
    min-height: 100vh;
    background:linear-gradient(to right,rgba(0,0,50,0.8),rgba(0,0,50,0.8));
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }
 
  .navbar button{
    position: relative;
    font-size: 1.1em;
    background-color: rgba(0,0,50,0.8);
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 100px;
    
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  
  .navbar button::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
  
  }
  .navbar button:hover::after{
    transform-origin: left;
    transform: scaleX(1);
  }