body{
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px rgb(170, 167, 167);
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.heading{
    height: 200px;
    width: 100%;
    /* background:url("./Hope House1.png"); */
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 10px;
    position: relative;
}


.mainbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 5px 10px 5px;
    border: 2px solid aliceblue;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgb(170, 167, 167);
    padding:10px 5px;
}
.noticebox{
    display: flex;
    flex-direction: column;
    flex:1 1 100px;
    border:2px dotted #1B1A1B;
    border-radius:10px;
    padding: 5px;
    margin-left: 10px;
  }
  .notice-item{
    display: block;
    align-content: center;
    height: 100px;
    border:2px solid #694cb6;
    margin: 5px;
    padding-top: 3px;
    overflow: hidden;
    text-align: center;
  }
  .notice-item a{
    text-decoration: none;
    font-size: large;
  }
  a:hover{
    text-decoration: underline;
  }

  .inputfield{
    height: 40px;
    width: 400px;
    border: 2px solid black;
    padding:10px;
  }

  .inputfield:focus{
    border: none;
  }

  .head1{
    font-size: x-large;
    font-weight: 200px;
    font-weight: bold;
  }

  .list-item{
    display: block;
    align-content: center;
    height: 100px;
    border:2px solid #7f7b8f;
    margin-top: 25px;
    padding-top: 3px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgb(170, 167, 167);
    font-size: 15px;
    font-weight: 20px;
}